.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: transparent;
    position: relative;
}

.navBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.themeSwitcher {
    display: flex;
    cursor: pointer;
}
  
.mobileMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.burgerIcon, .crossIcon, .sunIcon, .moonIcon {
    font-size: 24px;
}

.burgerIcon, .sunIcon, .moonIcon {
    color: var(--text-color);
    transition: all 0.3s ease;
}

.crossIcon {
    color: #fff;
}

.burgerIcon:hover, .sunIcon:hover, .moonIcon:hover {
    color: var(--button-hover-bg-color);
}

.arrowIcon {
    transition: all 0.3s ease;
}

.navMenu {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navMenu.active {
    display: flex;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navList li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.navList li a:hover {
    color: #ee4530;
}

.buttonWrapper {
    flex-shrink: 0;
}

.startProjectButton {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Source Code Pro", monospace;
    font-size: 10px;
    letter-spacing: -1px;
    cursor: pointer;
}

.startProjectButton:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

.startProjectButton:hover .arrowIcon {
    transform: scale(1.5);
}

@media (min-width: 640px) {
    .burgerIcon, .crossIcon, .sunIcon, .moonIcon {
        font-size: 28px;
    }

    .startProjectButton {
        font-size: 12px;
        gap: 10px;
    }
}

@media (min-width: 768px) {
    .mobileMenuButton {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: row-reverse;
    }

    .navBlock {
        flex-direction: row-reverse;
        gap: 16px;
        z-index: 10;
    }

    .navMenu {
        display: flex;
        position: static;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .navList {
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .navList li a {
        color: var(--link-color);
        font-size: 12px;
        font-weight: 600;
    }

    .startProjectButton {
        padding: 14px 20px;
    }
}

@media (min-width: 992px) {
    .navList {
        width: 60%;
    }
}