.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: transparent;
    position: relative;
}

.navBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.themeSwitcher {
    display: flex;
    cursor: pointer;
}
  
.mobileMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.sunIcon, .moonIcon {
    font-size: 28px;
}

.burgerIcon, .crossIcon {
    font-size: 32px;
}

.burgerIcon {
    color: var(--text-color);
}

.crossIcon {
    color: #fff;
}

.navMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navMenu.active {
    display: flex;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navList li a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navList li a:hover {
    color: #ee4530;
}

.buttonWrapper {
    flex-shrink: 0;
}

.startProjectButton {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Source Code Pro", monospace;
    font-size: 9px;
    cursor: pointer;
}

.startProjectButton:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

/* Адаптивность */
@media (min-width: 768px) {
    .mobileMenuButton {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: row-reverse;
    }

    .navBlock {
        flex-direction: row-reverse;
        z-index: 10;
    }

    .navMenu {
        display: flex;
        position: static;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .navList {
        flex-direction: row;
    }

    .navList li a {
        font-size: 16px;
    }

    .startProjectButton {
        font-size: 12px;
    }
}