.heroSection {
    display: flex;
    flex-direction: column;
}
  
.title {
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color);
    text-align: start;
}

.highlight {
    color: #ee4530;
    font-family: "Pixel Operator", monospace;
    font-weight: 700;
    font-size: 1.2em;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 2s ease;
}

.highlight.active {
    clip-path: inset(0 0 0 0);
}

.buttonGroup {
    display: flex;
    gap: 6px;
    margin-top: 40px;
}

.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

@media (min-width: 640px) {
    .title {
        font-size: 56px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 72px;
    }

    .buttonGroup {
        gap: 8px;
    }
}