@font-face {
  font-family: 'Public Pixel';
  src: url('./assets/fonts/PublicPixel.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperator-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 1);
  --button-bg-color: #fff;
  --button-text-color: #000;
  --button-selected-bg-color: #fff;
  --button-selected-text-color: #000;
  --button-hover-bg-color: rgba(255, 255, 255, 0.8);
  --button-hover-text-color: #ee4530;
  --link-color: rgba(255, 255, 255, 0.75);
  --border-color: rgba(255, 255, 255, 0.3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #213547;
  --button-bg-color: #000;
  --button-text-color: #fff;
  --button-selected-bg-color: #000;
  --button-selected-text-color: #fff;
  --button-hover-bg-color: rgba(0, 0, 0, 0.5);
  --button-hover-text-color: #fff;
  --link-color: #000;
  --border-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid var(--button-text-color);
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:active, .button:focus, button:focus-visible {
  outline: none;
  background-color: transparent;
}